/*
 * FONTS
 */

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans Light"),
    url("../fonts/opensanslight.woff2") format("woff2"),
    url("../fonts/opensanslight.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans Regular"),
    url("../fonts/opensans.woff2") format("woff2"),
    url("../fonts/opensans.woff") format("woff");
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 300;
  src: local("Gilroy Light"), url("../fonts/gilroylight.woff2") format("woff2"),
    url("../fonts/gilroylight.woff") format("woff");
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 800;
  src: local("Gilroy ExtraBold"),
    url("../fonts/gilroyextrabold.woff2") format("woff2"),
    url("../fonts/gilroyextrabold.woff") format("woff");
}

/*
 * GLOBAL NORMALIZATION AND RESETS
 */

html {
  /* scaffolding */
  width: 1440px;
  height: 2795px;
  background-image: url("../preview/device-index.jpg");
  background-size: 1440px 2795px;
  opacity: 0.7;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;

  font-family: "Open Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  color: #000000;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

button {
  border: none;
  background: none;
  padding: 0;
}

a,
button,
input,
textarea {
  font: inherit;
}

/*
 * GLOBAL COMPONENTS
 */

.visually-hidden {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: none;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
}

.container {
  width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}

.popup--closed {
  display: none;
}

.logo,
.logo__image {
  width: 163px;
  height: 35px;
}

.logo:hover {
  opacity: 0.6;
}

.logo:active {
  opacity: 0.3;
}

.search-form__input:hover::placeholder,
.search-form__input:focus::placeholder,
.link:hover,
.link:focus,
.navigation__link:hover,
.navigation__link:focus,
.catalog__link:hover,
.catalog__link:focus,
.shipping__link:hover,
.shipping__link:focus,
.breadcrumb__link:hover,
.breadcrumb__link:focus {
  color: rgba(0, 0, 0, 0.6);
}

.search-form__input::placeholder,
.link:active,
.navigation__link:active,
.catalog__link:active,
.shipping__link:active {
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumb__items {
  list-style: none;
  padding-left: 0;
}

.breadcrumb__item,
.breadcrumb__link {
  font-size: 14px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumb__link:active {
  color: rgba(0, 0, 0, 0.1);
}

/*
 * HEADER
 */

.page-header__logo {
  position: absolute;
  top: -19px;
}

.page-header__navigation {
  position: relative;
  width: 1160px;
  margin-top: 40px;
  background-color: #f7e296;
}

.navigation {
  padding: 0;
  padding-top: 35px;
}

.navigation__container {
  width: 1040px;
  margin: 0 auto;
}

.navigation__row {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}

.search-form__field {
  margin: 0;
  height: 48px;
  width: 441px;
  display: flex;
}

.search-form__input {
  width: 100%;
  border: none;
  border-bottom: 2px solid transparent;
  background-color: transparent;
  font: inherit;
  color: inherit;
}

.search-form__input:focus {
  border-bottom: 2px solid #000000;
}

.search-form__button {
  border: 2px solid #000000;
}

.search-form__button:hover,
.search-form__button:focus,
.search-form__button:active,
.search-form__input:focus + .search-form__button {
  /* cancel visually-hidden upon user interaction */
  position: static;
  clip: none;
  clip-path: none;
  margin: 0;

  width: 85px;
  height: 49px;
}

.search-form__button:hover,
.search-form__button:focus {
  background-color: #000000;
  color: #ffffff;
}

.search-form__button:active {
  background-color: #000000;
  color: rgba(255, 255, 255, 0.3);
}

.user-navigation,
.navigation__items,
.catalog__items {
  list-style: none;
  padding: 0;
  margin: 0;
}

.user-links {
  display: flex;
  align-items: center;
}

.navigation__user-links {
  min-width: 500px;
}

.user-links > .link {
  /* scaffolding */
  margin-right: 40px;
}

.user-links > .link:last-child {
  /* scaffolding */
  margin-right: 0px;
}

.user-navigation {
  padding: 0;
  margin: 0;
}

.user-links__user-navigation {
  margin-right: auto;
}

.link {
  color: inherit;

  /* scaffolding */
  display: block;
  min-width: 80px;
  padding-left: 26px;
}

.navigation__items {
  min-width: 500px;
  margin: 0;
  display: flex;
}

.navigation__item {
  display: flex;
  align-items: center;
  height: 40px;
  margin-right: 34px;
}

.navigation__link {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.2em;
  color: inherit;
  text-transform: uppercase;
}

.navigation__item:last-child {
  /* offset positive letter-spacing side-effect */
  margin-right: -0.2em;
}

.page-header__navigation .navigation__item:last-child {
  margin-left: auto;
}

.catalog {
  padding-bottom: 27px;
  background-color: #f7e296;
}

.catalog__categories {
  display: flex;
}

.navigation__catalog {
  position: absolute;
  width: 100%;
}

.catalog--hidden {
  /* scaffolding */
  /* display: none; */
}

.catalog__items {
  padding: 0;
  padding-right: 20px;
  margin: 0;
  margin-right: 40px;
  min-width: 160px;
}

.catalog__link {
  line-height: 36px;
  color: inherit;
}

/*
 * FOOTER
 */

.page-footer {
  display: flex;
  flex-direction: column;
  background-color: #464646;
}

.page-footer__container {
  padding-top: 65px;
  padding-bottom: 34px;
}

.page-footer__row {
  display: flex;
  justify-content: space-between;
  padding-bottom: 18px;
}

.page-footer__navigation {
  display: flex;
}

.page-footer__logo .logo__image {
  fill: #464646;
}

.page-footer__navigation {
  margin: 0;
  padding: 0;
  min-width: 420px;
}

.page-footer__navigation .navigation__link {
  color: #ffffff;
}

.page-footer__navigation .navigation__link:hover,
.page-footer__navigation .navigation__link:focus {
  color: rgba(255, 255, 255, 0.6);
}

.page-footer__navigation .navigation__link:active {
  color: rgba(255, 255, 255, 0.3);
}

.page-footer__links {
  min-width: 326px;
}

.page-footer__links .link {
  color: rgba(255, 255, 255, 0.7);
}

.page-footer__links .link:hover,
.page-footer__links .link:focus {
  color: #ffffff;
}

.page-footer__links .link:active,
.address__phone:active {
  color: rgba(255, 255, 255, 0.3);
}

.address {
  font-style: normal;
}

.address,
.address__phone {
  color: #ffffff;
}

.address__phone:hover,
.address__phone:focus {
  color: rgba(255, 255, 255, 0.6);
}

.page-footer__address {
  order: -1;
  margin-right: 160px;
}

.page-footer__phone {
  margin-left: auto;
}

.page-footer__row--social::before {
  content: "";
  display: block;
  width: 80px;
  height: 7px;
  margin-right: 430px;
  background-color: #ffc600;
}

.page-footer__row--social {
  margin-top: 20px;
  align-items: center;
}

.social__links {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding-left: 0;
  min-width: 140px;
}

.social__link {
  visibility: hidden;
}

.social__links li,
.social__link::before {
  width: 32px;
  height: 32px;
}

.social__link::before {
  content: "";
  display: block;
  visibility: visible;
  opacity: 0.3;
}

.social__link:hover::before,
.social__link:focus::before {
  opacity: 0.6;
}

.social__link:active::before {
  opacity: 0.1;
}

.social__link--facebook::before {
  background-image: url("../img/icons/fb.svg");
}

.social__link--instagram::before {
  background-image: url("../img/icons/instagram.svg");
}

.social__link--twitter::before {
  background-image: url("../img/icons/twitter.svg");
}

.page-footer__copyright {
  height: 35px;
  margin-left: auto;
}

/*
 * INDEX
 */

.promo__items,
.promo__controls,
.services__items,
.services__controls {
  list-style: none;
  padding-left: 0;
}

.promo__slogan {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 56px;
}

.promo__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 40px;

  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: inherit;
}

.promo__link:hover,
.promo__link:focus {
  background-color: #f0c52e;
}

.promo__link:active {
  color: rgba(0, 0, 0, 0.3);
}

.specs__header {
  display: table-footer-group;
}

.specs__key {
  font-weight: 300;
  font-size: 13px;
  line-height: 20px;
}

.specs__value {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 300;
  font-size: 36px;
  line-height: 48px;
}

.promo__ordinal {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 179px;
  line-height: 179px;
  color: white;
}

.categories__items {
  list-style: none;
  padding-left: 0;
}

.categories__items li {
  width: 160px;
}

.categories__link {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  color: inherit;
}

.categories__link:active {
  color: rgba(0, 0, 0, 0.3);
}

.categories__link::before {
  content: "";
  display: block;
  width: 160px;
  height: 160px;
  background-color: #f7e296;
}

.categories__link:hover::before,
.categories__link:focus::before,
.categories__link:active::before {
  background-color: #f0c52e;
}

.services {
  background-color: #e5e5e5;
}

.service__title,
.about__title,
.contacts__title {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 48px;
}

.services__controls li {
  width: 278px;
  height: 40px;
}

.services__control {
  border: none;
  background: none;
  padding: 0;
  width: 160px;
  height: 40px;

  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-align: center;
}

.services__control:hover,
.services__control:focus {
  background-color: #f0c52e;
}

.services__control:active,
.slider__control--active.services__control {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #000000;

  color: #f7e184;
}

.services__control:active::after,
.slider__control--active.services__control::after {
  content: "";
  width: 118px;
}

.about__title,
.contacts__title {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 48px;
}

.shipping__link {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 40px;
  color: inherit;
}

.contacts__map {
  display: block;
  width: 560px;
  height: 222px;
  background-color: #cccccc;
}

.about__link,
.contacts__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 260px;
  height: 40px;

  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.2em;
  text-align: center;
  vertical-align: middle;
  color: inherit;
  text-transform: uppercase;
}

.about__link:hover,
.about__link:focus,
.contacts__link:hover,
.contacts__link:focus {
  background-color: #f0c52e;
}

.about__link:active,
.contacts__link:active {
  background-color: #000000;
  color: #f7e184;
}

/*
 * CATALOG
 */

.page-main__title {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 48px;
}

.filters {
  background-color: #efefef;
}

.filters__title,
.sorting__title {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.filters__title {
  background-color: #dbdbdb;
}

.filters__title::after,
.sorting__title::after {
  content: ":";
  font: inherit;
}

.filters fieldset {
  border: none;
}

.filter__name {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
}

.filter__options {
  list-style: none;
  padding-left: 0;
}

.filter__label {
  font-size: 14px;
  line-height: 40px;
}

.filter__input:hover::before,
.filter__input:focus::before {
  opacity: 0.6;
}

.filter__input:disabled::before,
.filter__input:disabled + .filter__label {
  opacity: 0.25;
}

.filters__button {
  width: 200px;
  height: 40px;

  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.filters__button:hover,
.filters__button:focus {
  background-color: #f0c52e;
}

.filters__button:active {
  background-color: #000000;
  color: #f7e184;
}

.sorting {
  background-color: #ebebeb;
}

.sorting__types,
.sorting__toggles,
.pagination__items {
  list-style: none;
  padding-left: 0;
}

.sorting__type {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
}

.sorting__type:hover,
.sorting__type:focus {
  color: rgba(0, 0, 0, 0.6);
}

.sorting__type:active,
.sorting__type--active.sorting__type {
  color: #000000;
}

.sorting__toggle {
  opacity: 0.3;
}

.sorting__toggle:hover,
.sorting__toggle:focus {
  opacity: 0.6;
}

.sorting__toggle:active,
.sorting__toggle.sorting__toggle--active {
  opacity: 1;
}

.pagination {
  background-color: #ebebeb;
}

.pagination__control,
.pagination__page {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.pagination__control {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 137px;
  height: 70px;
  color: inherit;
}

.pagination__control:hover,
.pagination__control:focus {
  background-color: #d9d9d9;
}

.pagination__control:active {
  background-color: #d9d9d9;
  color: rgba(0, 0, 0, 0.3);
}

.pagination__page {
  color: rgba(0, 0, 0, 0.3);
}

.pagination__page:hover,
.pagination__page:focus {
  color: rgba(0, 0, 0, 0.6);
}

.pagination__page:active,
.pagination__page--active {
  color: inherit;
}

.products__items {
  list-style: none;
  padding-left: 0;
}

.product__title {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
}

.product__thumb {
  display: block;
  width: 360px;
  height: 379px;
  background-color: #cccccc;
}

.product__to-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 40px;

  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  font-family: 24px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: inherit;
}

.product__to-cart:hover,
.product__to-cart:focus {
  background-color: #f0c52e;
}

.product__to-cart:active {
  background-color: #f0c52e;
  color: rgba(0, 0, 0, 0.3);
}

.product__compare {
  font: inherit;
  font-size: 13px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.5);
}

.product__compare:hover,
.product__compare:focus {
  color: #000000;
}

.product__compare:active {
  color: rgba(0, 0, 0, 0.2);
}

.product__price {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
}
