/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

/*
 * FONTS
 */

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans Light"),
    url("../fonts/opensanslight.woff2") format("woff2"),
    url("../fonts/opensanslight.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans Regular"),
    url("../fonts/opensans.woff2") format("woff2"),
    url("../fonts/opensans.woff") format("woff");
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 300;
  src: local("Gilroy Light"), url("../fonts/gilroylight.woff2") format("woff2"),
    url("../fonts/gilroylight.woff") format("woff");
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 800;
  src: local("Gilroy ExtraBold"),
    url("../fonts/gilroyextrabold.woff2") format("woff2"),
    url("../fonts/gilroyextrabold.woff") format("woff");
}

/*
 * GLOBAL NORMALIZATION AND RESETS
 */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;

  font-family: "Open Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  color: #000000;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

button {
  border: none;
  background: none;
  padding: 0;
}

a,
button,
input,
textarea {
  font: inherit;
}

/*
 * GLOBAL COMPONENTS
 */

.visually-hidden {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: none;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
}

.container {
  width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}

.logo,
.logo__image {
  width: 163px;
  height: 35px;
}

.logo[href]:hover {
  opacity: 0.6;
}

.logo[href]:active {
  opacity: 0.3;
}

.search-form__input:hover::placeholder,
.search-form__input:focus::placeholder,
.link:hover,
.link:focus,
.navigation__link:hover,
.navigation__link:focus,
.catalog__link:hover,
.catalog__link:focus,
.shipping__link:hover,
.shipping__link:focus,
.breadcrumb__link:hover,
.breadcrumb__link:focus {
  color: rgba(0, 0, 0, 0.6);
}

.search-form__input::placeholder,
.link:active,
.navigation__link:active,
.catalog__link:active,
.shipping__link:active {
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumb {
  margin-bottom: 46px;
}

.breadcrumb__items {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}

.breadcrumb__item,
.breadcrumb__link {
  font-size: 14px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumb__item:not(:last-child) {
  margin-right: 10px;
}

.breadcrumb__item:not(:first-child) {
  position: relative;
  padding-left: 28px;
}

.breadcrumb__item:not(:first-child)::before {
  content: "";
  position: absolute;
  left: 6px;
  top: 9px;
  width: 7px;
  height: 7px;
  background-image: url("../img/icons/nav-arrow.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.breadcrumb__link:active {
  color: rgba(0, 0, 0, 0.1);
}

.button {
  padding: 0;
  padding: 8px 18px;
  margin: 0;
  display: flex;
  position: relative;
  z-index: 0;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 40px;

  font-family: "Gilroy", "Arial Black", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.2em;
  color: inherit;
  text-transform: uppercase;
  cursor: pointer;
  user-select: none;
}

.button:not(:hover):not(:focus):not(:active):not(:disabled)::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 16px;
  z-index: -1;
  width: 100%;
  height: 8px;
  background-color: #f0c52e;
}

.button:hover,
.button:focus {
  background-color: #f0c52e;
}

.button:active {
  background-color: #000000;
  color: #f7e184;
}

.button:disabled {
  cursor: default;
  background-color: rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.3);
}

/*
 * HEADER
 */

.page-header {
  min-height: 186px;
  margin-bottom: 37px;
}

.page-header__logo {
  position: absolute;
  top: -19px;
}

.page-header__navigation {
  position: relative;
  width: 1160px;
  margin-top: 40px;
  background-color: #f7e296;
}

.navigation {
  padding: 0;
  padding-top: 35px;
  padding-bottom: 23px;
}

.navigation__container {
  width: 1040px;
  margin: 0 auto;
}

.navigation__row {
  display: flex;
  justify-content: space-between;
}

.navigation__row--first {
  padding-bottom: 21px;
}

.navigation__row--second {
  padding-bottom: 19px;
}

.search-form__field {
  margin: 0;
  height: 48px;
  width: 441px;
  display: flex;
}

.search-form__input {
  width: 100%;
  border: none;
  padding-left: 38px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 2px solid transparent;
  background-color: transparent;
  font: inherit;
  color: inherit;
  background-image: url("../img/icons/search.svg");
  background-repeat: no-repeat;
  background-position: 2px center;
}

.search-form__input:focus {
  border-bottom: 2px solid #000000;
}

.search-form__button {
  border: 2px solid #000000;
  cursor: pointer;
  user-select: none;
}

.search-form__button:hover,
.search-form__button:focus,
.search-form__button:active,
.search-form__input:focus+.search-form__button {
  /* cancel visually-hidden upon user interaction */
  position: static;
  clip: none;
  clip-path: none;
  margin: 0;
  padding: 8px 18px;

  min-width: 85px;
  height: 100%;
}

.search-form__button:hover,
.search-form__button:focus {
  background-color: #000000;
  color: #ffffff;
}

.search-form__button:active {
  background-color: #000000;
  color: rgba(255, 255, 255, 0.3);
}

.user-navigation,
.navigation__items,
.catalog__items {
  list-style: none;
  padding: 0;
  margin: 0;
}

.user-links {
  display: flex;
  align-items: center;
}

.navigation__user-links {
  min-width: 500px;
}

.user-links>.link {
  /* scaffolding */
  margin-right: 40px;
}

.user-links>.link:last-child {
  /* scaffolding */
  margin-right: 0px;
}

.user-navigation {
  padding: 0;
  margin: 0;
  display: flex;
}

.user-navigation>li {
  margin-right: 20px;
}

.user-navigation>li:last-child {
  margin-right: 0px;
}

.user-links__user-navigation {
  margin-right: auto;
}

.link {
  display: block;
  position: relative;
  color: inherit;
  padding-left: 26px;
}

.link--logout {
  padding: 0;
  opacity: 0.3;
}

.link::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
}

.link--login::before {
  background-image: url("../img/icons/user.svg");
  top: 8px;
  left: 0;
}

.link--compare::before {
  background-image: url("../img/icons/compare.svg");
  top: 10px;
  left: 6px;
}

.link--cart::before {
  background-image: url("../img/icons/cart.svg");
  top: 8px;
  left: 2px;
}

.link--logout::before {
  display: none;
}

.navigation__items {
  min-width: 500px;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.navigation__item {
  display: flex;
  align-items: center;
  height: 40px;
}

.page-header__navigation .navigation__item {
  margin-right: 34px;
}

.navigation__link {
  font-family: "Gilroy", "Arial Black", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.2em;
  color: inherit;
  text-transform: uppercase;
}

.catalog-menu__button {
  z-index: 3;
  height: 40px;
  position: relative;
  padding-right: 27px;
  cursor: pointer;
  user-select: none;
}

.catalog-menu__button::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: 13px;
  right: 0;
  background-image: url("../img/icons/plus.png");
  background-repeat: no-repeat;
  background-size: 16px 16px;
  background-position: 0 0;
  opacity: 0.3;
}

.navigation__item:last-child {
  /* offset positive letter-spacing side-effect */
  margin-right: -0.2em;
}

.page-header__navigation .navigation__item:last-child {
  margin-left: auto;
}

.catalog-menu {
  width: 100%;
  display: flex;
  align-items: center;
}

.catalog-menu__catalog {
  display: none;
}

.catalog-menu:hover .catalog-menu__catalog {
  display: block;
}

.catalog-menu:focus-within .catalog-menu__catalog {
  display: block;
}

.catalog {
  padding-bottom: 34px;
  background-color: #f7e296;
}

.navigation__catalog {
  padding-top: 18px;
  width: 100%;
  left: 0;
  top: 145px;
  position: absolute;
  z-index: 2;
  margin-top: -6px;
}

.catalog__categories {
  display: flex;
}

.catalog__items {
  padding: 0;
  padding-right: 20px;
  margin: 0;
  margin-right: 40px;
  min-width: 160px;
}

.catalog__link {
  line-height: 36px;
  letter-spacing: 0.01em;
  color: inherit;
}

/*
 * FOOTER
 */

.page-footer {
  display: flex;
  flex-direction: column;
  background-color: #464646;
}

.page-footer__container {
  padding-top: 65px;
  padding-bottom: 34px;
}

.page-footer__row {
  display: flex;
  justify-content: space-between;
  padding-bottom: 19px;
}

.page-footer__logo .logo__image {
  fill: #464646;
}

.page-footer__navigation {
  padding: 0;
  padding-bottom: 2px;
  margin: 0;
  margin-top: -2px;
  margin-left: 5px;
  width: 425px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.page-footer__navigation .navigation__link {
  color: #ffffff;
}

.page-footer__navigation .navigation__item::last-child {
  margin-right: 0;
}

.page-footer__navigation .navigation__link:hover,
.page-footer__navigation .navigation__link:focus {
  color: rgba(255, 255, 255, 0.6);
}

.page-footer__navigation .navigation__link:active {
  color: rgba(255, 255, 255, 0.3);
}

.page-footer__links {
  min-width: 325px;
  margin-top: -2px;
}

.page-footer__links>.user-navigation {
  margin-right: 40px;
}

.page-footer__links>.link {
  margin-right: 39px;
}

.page-footer__links>.user-navigation:last-child,
.page-footer__links>.link:last-child {
  margin-right: 0px;
}

.page-footer__links .link {
  color: rgba(255, 255, 255, 0.7);
}

.page-footer__links .link:hover,
.page-footer__links .link:focus {
  color: #ffffff;
}

.page-footer__links .link:active,
.address__phone:active {
  color: rgba(255, 255, 255, 0.3);
}

.page-footer__links .link--login::before {
  background-image: url("../img/icons/user--light.svg");
}

.page-footer__links .link--compare::before {
  background-image: url("../img/icons/compare--light.svg");
}

.page-footer__links .link--cart::before {
  background-image: url("../img/icons/cart--light.svg");
}

.address {
  font-style: normal;
}

.address,
.address__phone {
  color: #ffffff;
}

.address__phone:hover,
.address__phone:focus {
  color: rgba(255, 255, 255, 0.6);
}

.page-footer__address {
  order: -1;
  margin-right: 160px;
}

.page-footer__phone {
  margin-left: auto;
}

.page-footer__row--social::before {
  content: "";
  display: block;
  width: 80px;
  height: 7px;
  margin-right: 430px;
  background-color: #ffc600;
}

.page-footer__row--social {
  margin-top: 20px;
  align-items: center;
}

.social__links {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding-left: 0;
  min-width: 140px;
}

.social__link {
  visibility: hidden;
}

.social__links li,
.social__link::before {
  width: 32px;
  height: 32px;
}

.social__link::before {
  content: "";
  display: block;
  visibility: visible;
  opacity: 0.3;
}

.social__link:hover::before,
.social__link:focus::before {
  opacity: 0.6;
}

.social__link:active::before {
  opacity: 0.1;
}

.social__link--facebook::before {
  background-image: url("../img/icons/fb.svg");
}

.social__link--instagram::before {
  background-image: url("../img/icons/instagram.svg");
}

.social__link--twitter::before {
  background-image: url("../img/icons/twitter.svg");
}

.page-footer__copyright {
  height: 35px;
  margin-left: auto;
}

.page-footer__copyright:hover,
.page-footer__copyright:focus {
  opacity: 0.6;
}

.page-footer__copyright:active {
  opacity: 0.3;
}

/*
 * INDEX
 */

.index-page .page-header {
  margin-bottom: 0;
}

.promo {
  position: relative;
  margin-bottom: 108px;
}

.page-main__promo {
  min-height: 486px;
}

.page-main__promo::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 113px;
  background-color: #f7e296;
}

.promo__item {
  display: flex;
  justify-content: space-between;
  padding: 0;
  padding-right: 60px;
}

.slider__item--closed {
  display: none;
}

.promo__column {
  width: 567px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.promo__image {
  position: relative;
}

.promo__item:nth-child(1) .promo__image {
  top: 2px;
  left: -2px;
}

.promo__item:nth-child(2) .promo__image {
  top: 14px;
  left: 5px;
}

.promo__item:nth-child(3) .promo__image {
  top: -8px;
  left: 10px;
}

.promo__inner {
  margin-left: auto;
  margin-top: 40px;
  padding-top: 40px;
  display: flex;
  position: relative;
  flex-direction: column;
  width: 501px;
}

.promo__inner::before {
  content: "";
  display: block;
  width: 100px;
  height: 7px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffffff;
}

.promo__items,
.promo__controls,
.services__items,
.services__controls {
  padding: 0;
  margin: 0;
  list-style: none;
}

.promo__slogan {
  z-index: 1;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  font-family: "Gilroy", "Arial Black", sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 56px;
  letter-spacing: 0.01em;
}

.promo__text {
  margin: 0;
  margin-bottom: 42px;
  padding: 0;
  letter-spacing: 0.01em;
}

.promo__button {
  margin-bottom: 45px;
  width: 220px;
}

.promo__button:hover,
.promo__button:focus {
  background-color: #f0c52e;
}

.promo__button:active {
  background-color: #f0c52e;
  color: rgba(0, 0, 0, 0.3);
}

.promo__specs {
  width: fit-content;
  order: 2;
}

.specs__header {
  display: table-footer-group;
}

.specs__key,
.specs__value {
  margin: 0;
  padding: 0;
}

.specs__value:first-child {
  width: 161px;
}

.specs__value:nth-child(2) {
  width: 137px;
}

.specs__key {
  font-weight: 300;
  font-size: 13px;
  line-height: 20px;
  padding-top: 8px;
}

.specs__value {
  font-family: "Gilroy", "Arial Black", sans-serif;
  font-weight: 300;
  font-size: 36px;
  line-height: 48px;
}

.promo__ordinal {
  margin: 0;
  padding: 0;
  order: -1;
  position: absolute;
  top: -52px;
  right: -11px;

  font-family: "Gilroy", "Arial Black", sans-serif;
  font-weight: 800;
  font-size: 179px;
  line-height: 179px;
  color: white;
}

.promo__controls {
  position: absolute;
  bottom: 145px;
  right: 83px;
  display: flex;
  justify-content: space-between;
  min-width: 78px;
}

.promo__controls li,
.promo__control {
  width: 12px;
  height: 12px;
}

.promo__control {
  position: relative;
  display: block;
  width: 12px;
  height: 12px;
  border: 1px solid #000000;
  border-radius: 50%;

  font-size: 0;
}

.promo__control:hover,
.promo__control:focus {
  opacity: 0.6;
}

.promo__control:active {
  opacity: 0.3;
}

.slider__control {
  cursor: pointer;
  user-select: none;
}

.promo__control.slider__control--active::after {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 4px;
  height: 4px;
  border: 1px solid #000000;
  border-radius: 50%;
}

.page-main__categories {
  margin-bottom: 181px;
}

.categories__items {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.categories__items li {
  width: 160px;
}

.categories__link {
  display: block;
  font-family: "Gilroy", "Arial Black", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  color: inherit;
}

.categories__link:active {
  color: rgba(0, 0, 0, 0.3);
}

.categories__link::before {
  content: "";
  display: block;
  width: 160px;
  height: 160px;
  margin-bottom: 33px;
  background-color: #f7e296;
  background-repeat: no-repeat;
}

.categories__link:hover::before,
.categories__link:focus::before,
.categories__link:active::before {
  background-color: #f0c52e;
}

.categories__link--virtual-reality::before {
  background-image: url("../img/icons/popular-1.svg");
  background-position: 31px 52px;
}

.categories__link--monopodes::before {
  background-image: url("../img/icons/popular-2.svg");
  background-position: 38px 41px;
}

.categories__link--action-cameras::before {
  background-image: url("../img/icons/popular-3.svg");
  background-position: 49px 38px;
}

.categories__link--fitness-bands::before {
  background-image: url("../img/icons/popular-4.svg");
  background-position: 28px 50px;
}

.categories__link--smart-watches::before {
  background-image: url("../img/icons/popular-5.svg");
  background-position: 55px 32px;
}

.categories__link--quadrocopters::before {
  background-image: url("../img/icons/popular-6.svg");
  background-position: 13px 49px;
}

.services {
  background-color: #e5e5e5;
}

.page-main__services {
  margin-bottom: 95px;
  min-height: 288px;
}

.services::before {
  content: "";
  display: block;
  position: absolute;

  /* dirty hack to force bg images preload for hidden pseudo-elements */
  background-image: url("../img/delivery.svg"),
    url("../img/warranty.svg"),
    url("../img/credit.svg");
}

.services .container {
  display: flex;
  justify-content: space-between;
}

.service {
  width: 760px;
  position: relative;
}

.service__title,
.about__title,
.contacts__title {
  margin: 0;
  padding: 0;
  font-family: "Gilroy", "Arial Black", sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 48px;
}

.service__title {
  position: relative;
  top: -26px;
  margin-bottom: 4px;
  letter-spacing: 0.02em;
}

.service__text {
  margin: 0;
  padding: 0;
  width: 435px;
  letter-spacing: 0.02em;
}

.service::after {
  content: "";
  width: 184px;
  height: 200px;
  display: block;
  position: absolute;
  top: -45px;
  right: 42px;

  background-position: center;
  background-repeat: no-repeat;
}

.service--delivery::after {
  background-image: url("../img/delivery.svg");
  background-position: 24px 30px;
}

.service--warranty::after {
  background-image: url("../img/warranty.svg");
  background-position: 9px 6px;
}

.service--credit::after {
  background-image: url("../img/credit.svg");
  background-position: 0 7px;
}

.services__controls {
  position: relative;
  top: -20px;
  order: -1;
  width: 285px;
}

.services__controls::after {
  content: "";
  display: block;
  position: absolute;
  top: -80px;
  right: 0;
  width: 7px;
  height: 319px;
  background-color: #000000;
}

.services__controls li {
  width: 278px;
  height: 40px;
  margin-bottom: 25px;
}

.services__control {
  margin: 0;
  padding: 8px 18px;
  position: relative;
  z-index: 0;
  border: none;
  background: none;
  width: 160px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: "Gilroy", "Arial Black", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-align: center;
}

.services__control:not(.slider__control--active):not(:hover):not(:focus):not(:active)::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 16px;
  z-index: -1;
  width: 100%;
  height: 8px;
  background-color: #f0c52e;
}

.services__control:hover,
.services__control:focus {
  background-color: #f0c52e;
}

.services__control:active,
.slider__control--active.services__control {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #000000;

  color: #f7e184;
}

.services__control:active::after,
.slider__control--active.services__control::after {
  content: "";
  width: 118px;
}

.page-main__vendors {
  margin-bottom: 83px;
}

.vendors__items {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.vendors__items li {
  margin-right: 39px;
}

.vendors__items li:last-child {
  margin-right: 0;
}

.vendors__item {
  display: block;
  position: relative;
}

.vendors__item:not(:hover):not(:focus):not(:active) .vendors__logo {
  visibility: hidden;
}

.vendors__logo--grey {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
}

.vendors__item:not(:hover):not(:focus):not(:active) .vendors__logo--grey {
  visibility: visible;
}

.page-main__columns {
  width: 1160px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 82px;
}

.page-main__columns>* {
  min-height: 573px;
}

.about {
  display: flex;
  flex-direction: column;
}

.page-main__about {
  position: relative;
  padding-top: 51px;
}

.page-main__about::before,
.page-main__contacts::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 7px;
  background-color: #000000;
}

.page-main__about {
  width: 474px;
}

.about__title,
.contacts__title {
  padding: 0;
  margin: 0;
  margin-left: -3px;
  margin-bottom: 45px;

  font-family: "Gilroy", "Arial Black", sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 48px;
  letter-spacing: 0.01em;
}

.text {
  margin: 0;
  padding: 0;
}

.about .text {
  margin-bottom: 30px;
}

.shipping {
  margin: 0;
  padding: 0;

  list-style: none;
}

.about__shipping {
  padding-top: 35px;
}

.shipping__link {
  position: relative;
  font-family: "Gilroy", "Arial Black", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 40px;
  color: inherit;

  padding-left: 35px;
}

.shipping__link::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 1px;
  height: 8px;
  width: 8px;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.contacts {
  display: flex;
  flex-direction: column;
  width: 560px;
}

.page-main__contacts {
  padding-top: 51px;
  position: relative;
}

.contacts .text {
  margin-left: -2px;
  margin-bottom: 38px;
  letter-spacing: 0.01em;
}

.contacts__map-link,
.contacts__map-thumb {
  margin: 0;
  padding: 0;

  display: block;
  width: 560px;
  height: 222px;
  background-color: #cccccc;
}

.about__link,
.contacts__link {
  margin-top: auto;
  width: 260px;
}

/*
 * CATALOG
 */

.container--catalog {
  padding-left: 80px;
}

.catalog-page .page-main__title {
  margin-bottom: 24px;
}

.page-main__title {
  margin: 0;
  padding: 0;

  font-family: "Gilroy", "Arial Black", sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 48px;
  letter-spacing: 0.01em;
}

.products-container {
  display: flex;
  width: 100%;
}

.catalog-page__columns {
  display: flex;
  padding: 0;
  margin: 0 auto;
  width: 1200px;
}

.filters {
  display: flex;
  flex-direction: column;

  background-color: #efefef;
}

.filters__header {
  margin: 0;
  padding: 0;
  margin-bottom: 70px;
  display: flex;
  min-height: 70px;
  background-color: #dbdbdb;
}

.filters__title,
.sorting__title {
  display: flex;
  align-items: center;

  padding: 0;
  margin: 0;

  font-family: "Gilroy", "Arial Black", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.filters__title::after,
.sorting__title::after {
  content: ":";
  font: inherit;
}

.filters__column {
  margin: 0;
  padding: 0;
  padding-left: 79px;
  margin-right: 68px;

  min-width: 200px;
}

.filters__filter {
  position: relative;
  margin: 0;
  padding: 0;
  width: 201px;
  padding-top: 58px;
  border: none;
  border-top: 2px solid #000000;
  margin-bottom: 40px;
}

.filters__filter:first-child {
  margin-bottom: 24px;
}

.filter__name {
  position: absolute;
  top: 0;
  padding-top: 10px;
  font-family: "Gilroy", "Arial Black", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
}

.range {
  margin: 0;
  padding: 0;
  padding: 10px 0;
}

.range__track {
  position: relative;
  width: 196px;
  height: 2px;
}

.range__progress {
  position: absolute;
  top: 0;
  left: 10px;
  width: 110px;
  height: 2px;
  max-width: 176px;
  background-color: #91c92f;
}

.range__thumb {
  position: absolute;
  top: -10px;
  left: -5px;
  display: block;
  width: 20px;
  height: 20px;
  border: 8px solid #ffffff;
  border-radius: 50%;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.1);
  cursor: pointer;
  user-select: none;
}

.range__thumb:active {
  transform: scale(1.15);
}

.range__thumb--max {
  left: 108px;
}

.range__labels {
  position: relative;
  margin: 0;
  padding: 0;
  padding-top: 9px;
  list-style: none;
  display: flex;
}

.range__label,
.range__value {
  margin: 0;
  padding: 0;
  font-family: "Gilroy", "Arial Black", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.2);
  text-transform: lowercase;
  pointer-events: none;
  user-select: none;
}

.range__label--max {
  margin-left: 63px;
}

.filter__options {
  padding: 0;
  margin: 0;
  list-style: none;
}

.filter__option {
  padding: 0;
  margin: 0;
  margin-bottom: 15px;
  height: 25px;
  display: flex;
  align-items: center;
}

.filter__option:last-child {
  margin-bottom: 0;
}

.filter__label {
  position: relative;
  padding-left: 39px;
  min-height: 23px;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.filter__label:hover {
  opacity: 0.6;
}

.filter__label:active {
  opacity: 1;
}

.filter__label:disabled {
  opacity: 0.25;
}

.filter__label::before,
.filter__label::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter__input[type="checkbox"]:not(:checked)+.filter__label::before {
  width: 23px;
  height: 23px;
  border: 2px solid #000000;
  border-radius: 3px;
}

.filter__input[type="checkbox"]:checked+.filter__label::before {
  width: 26px;
  height: 23px;
  background-image: url("../img/icons/checkbox.svg");
}

.filter__input[type="radio"]+.filter__label::before {
  width: 25px;
  height: 25px;
  border: 4px solid #000000;
  border-radius: 50%;
}

.filter__input[type="radio"]:checked+.filter__label::after {
  top: 8px;
  left: 8px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: #000000;
}

.filter__input:hover::before,
.filter__input:focus::before {
  opacity: 0.6;
}

.filter__input:disabled::before,
.filter__input:disabled+.filter__label {
  opacity: 0.25;
}

.catalog-page .page-main__wrapper {
  max-width: 852px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 0;
  margin: 0;
}

.sorting__container,
.catalog-page__pagination,
.products__container {
  margin: 0;
  margin-left: 52px;
  padding: 0 20px;
}

.sorting {
  padding: 0;
  margin: 0;
  margin-bottom: 70px;

  background-color: #ebebeb;
}

.sorting__container {
  display: flex;
  height: 70px;
  min-height: 70px;
}

.sorting__title {
  margin-right: 56px;
}

.sorting__types,
.sorting__toggles,
.pagination__pages {
  padding: 0;
  margin: 0;
  list-style: none;
}

.sorting__types {
  display: flex;
  align-items: center;
  width: 300px;
  height: 70px;
  min-height: 70px;
}

.sorting__types li {
  padding: 0;
  margin: 0;
  margin-right: 30px;
}

.sorting__types li:last-child {
  margin-right: 0;
}

.sorting__type {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
  user-select: none;
}

.sorting__type:hover,
.sorting__type:focus {
  color: rgba(0, 0, 0, 0.6);
}

.sorting__type:active,
.sorting__type--active.sorting__type {
  color: #000000;
}

.sorting__toggles {
  width: 40px;
  height: 70px;
  min-height: 70px;
  margin-left: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sorting__toggle {
  font-size: 0;
  opacity: 0.3;
  display: block;
  width: 12px;
  height: 12px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  user-select: none;
}

.sorting__toggle:hover,
.sorting__toggle:focus {
  opacity: 0.6;
}

.sorting__toggle:active,
.sorting__toggle.sorting__toggle--active:not(:hover):not(:focus) {
  opacity: 1;
}

.sorting__toggle--asc {
  background-image: url("../img/icons/icon-up-dir.svg");
}

.sorting__toggle--desc {
  background-image: url("../img/icons/icon-down-dir.svg");
}

.pagination {
  display: flex;
  background-color: #ebebeb;
  background-clip: content-box;
}

.catalog-page__pagination {
  margin-top: -10px;
  margin-bottom: 77px;
  order: 2;
}

.pagination__control,
.pagination__page {
  margin: 0;
  padding: 0;
  font-family: "Gilroy", "Arial Black", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.pagination__control {
  padding: 25px 32px;
  width: 137px;
  height: 70px;
  color: inherit;
}

.pagination__control--prev {
  margin-right: auto;
}

.pagination__control--next {
  order: 1;
  margin-left: auto;
}

.pagination__control:hover,
.pagination__control:focus {
  background-color: #d9d9d9;
}

.pagination__control:active {
  background-color: #d9d9d9;
  color: rgba(0, 0, 0, 0.3);
}

.pagination__pages {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.pagination__pages li:last-child {
  margin-right: 0;
}

.pagination__page {
  padding: 25px 14px;
  color: rgba(0, 0, 0, 0.3);
}

.pagination__page:hover,
.pagination__page:focus {
  color: rgba(0, 0, 0, 0.6);
}

.pagination__page:active,
.pagination__page--active {
  color: inherit;
}

.products__items {
  padding: 0;
  margin: 0;
  margin-bottom: -2px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.products__item {
  margin-right: 40px;
  margin-bottom: 45px;
}

.products__item:nth-child(2n) {
  margin-right: 0;
}

.product {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
  width: 360px;
}

.product--new::after {
  content: "new";
  position: absolute;
  top: 29px;
  right: 27px;
  width: 60px;
  height: 60px;
  padding: 17px 14px;
  border: 2px solid #000000;
  border-radius: 50%;
  opacity: 0.1;

  font-family: "Gilroy", "Arial Black", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 800;
  text-transform: uppercase;
  color: #000000;
}

.product__title {
  padding: 0;
  margin: 0;
  width: 260px;
  font-family: "Gilroy", "Arial Black", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
}

.product__title a {
  color: inherit;
}

.nobr {
  white-space: nowrap;
}

.product__inner,
.product__thumb {
  width: 360px;
}

.product__thumb {
  display: block;
  background-color: #cccccc;
}

.product__inner {
  order: -1;
  position: relative;
  margin-bottom: 33px;
}

.product__buttons {
  position: absolute;
  visibility: hidden;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding-top: 170px;

  background-color: rgba(239, 239, 239, 0.7);
  cursor: pointer;
  user-select: none;
}

.product__inner:hover .product__buttons {
  visibility: visible;
}

.product__buttons a {
  visibility: visible;
  opacity: 0;
}

.product__inner:hover a,
.product__buttons a:focus,
.product__buttons a:active {
  opacity: 1;
}

.product__buttons .product__compare:focus:not(:active) {
  background-color: rgba(239, 239, 239, 0.7);
}

.product__buttons .a:hover,
.product__buttons .a:focus {
  visibility: visible;
}

.product__to-cart {
  margin: 0 auto;
  margin-bottom: 10px;
}

.product- .product__to-cart:hover,
.product__to-cart:focus {
  background-color: #f0c52e;
}

.product__to-cart:active {
  background-color: #f0c52e;
  color: rgba(0, 0, 0, 0.3);
}

.product__compare {
  font: inherit;
  font-size: 13px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.5);
}

.product__compare:hover,
.product__compare:focus {
  color: #000000;
}

.product__compare:active {
  color: rgba(0, 0, 0, 0.2);
}

.product__price {
  margin: 0;
  padding: 0;
  font-family: "Gilroy", "Arial Black", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
}

.background {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.background--left {
  order: -1;
}

.background__header {
  min-height: 70px;
  width: 100%;
}

.background__header--filters {
  background-color: #dbdbdb;
}

.background__header--products {
  background-color: #ebebeb;
}

.background__body {
  flex-grow: 1;
  width: 100%;
}

.background__body--filters {
  background-color: #efefef;
}

/*
 * POPUPS
 */

.popup {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup__window {
  position: relative;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.3);

  animation-name: bounce;
  animation-duration: 0.6s;
}

.popup--closed {
  display: none;
}

.popup__close {
  position: absolute;
  top: 22px;
  right: 22px;

  display: block;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-image: url("../img/icons/modal-close.svg");
  opacity: 0.5;
  font-size: 0;
}

.popup__close:hover,
.popup__close:focus {
  opacity: 1;
}

.popup__close:active {
  opacity: 0.3;
}

.feedback__window {
  width: 960px;
  height: 553px;
  padding: 0 100px;
  padding-top: 93px;
  padding-bottom: 83px;

  background-color: #ffffff;
}

.form__fields {
  padding: 0;
  margin: 0;
  margin-bottom: 42px;
  border: none;
  width: 100%;
  height: 300px;
  display: flex;
  flex-wrap: wrap;
  align-items: ;
}

.input {
  padding: 0;
  margin: 0;
  margin-bottom: 33px;
  width: 360px;
  flex-grow: 1;
}

.input:first-child {
  margin-right: 40px;
}

.input__label {
  display: block;
  margin-bottom: 7px;
  font-family: "Gilroy", "Arial Black", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
}

.input__field {
  margin: 0;
  padding: 16px 20px;
  border: none;
  width: 100%;
  height: 50px;
  background-color: #f2f2f2;

  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
}

.input__field:hover {
  background-color: #eaeaea;
}

.input__field:focus {
  box-shadow: inset 0 0 0 2px #f7e296;
  background-color: #ffffff;
  /* outline is replaced with clear and contrast box-shadow */
  outline: none;
}

.input__field::placeholder {
  color: rgba(70, 70, 70, 0.4);
}

.input__field.input__field--invalid,
.input__field:invalid {
  color: rgba(70, 70, 70, 0.4);
  background-color: #f6dada;
}

.input__field--large {
  padding-top: 16px;
  height: 156px;
}

.input__field--large {
  resize: none;
  overflow: hidden;
}

.feedback__submit {
  width: 200px;
}

@keyframes shake {

  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

.map__window {
  width: 960px;
  height: 559px;

  background-color: rgb(229, 227, 223);
}

.map__image {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
}

.map__window iframe {
  position: relative;
  border: none;

  background-color: rgb(229, 227, 223);
}
